---
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    env_file:
      - path: .env
    networks:
      - backend

  backend:
    build:
      context: ./backend
      tags:
        - ksetcomp/fiskalna-2025-backend:latest
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    env_file:
      - path: .env
    depends_on:
      - db
    networks:
      - frontend
      - backend

  frontend:
    build:
      context: ./frontend
      tags:
        - ksetcomp/fiskalna-2025-frontend:latest
      args:
        - PUBLIC_BACKEND_URL=${PUBLIC_BACKEND_URL}
    env_file:
      - path: .env
    networks:
      - frontend

networks:
  frontend:
  backend:
